<!--html code of the overview mode-->
<div id="overviewcontainer" class="row" ng-show="control.overviewEnabled">
	<ol id="overview">
		<li ng-repeat="item in  items|idFilter:0" class="collapsed ">
			<div class="row">
				<div class="col-lg-1">
					<span class="glyphicon glyphicon-triangle-right collapseIcon" ng-click="control.dropdowncontrol($event, item.id)" aria-hidden="true"> </span>
					<input type="checkbox" ng-checked="item.selected" ng-click="control.includeswitch(item)"/>
				</div>
				<p class="col-lg-2" >{{item.text}}</p>
				<div class="btn-group-sm col-lg-2">
					<button ng-click="control.deleteItem(item.id)" class="btn btn-primary">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
					</button>
					<button ng-click="control.settings(item)" class="btn btn-primary">
							<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"> </span>
					</button>
				</div>
			</span class="col-lg-7">
			</div>
		</li>
		<li class="row">
			<add-items class="col-lg-3" controller="control" parent="0" ></add-items>
			<span class="col-lg-9"> </span>
		</li>
		</div>
	</ol>
</div>
