<!--html code of the overview mode-->
<div id="overviewcontainer" class="row" ng-show="control.overviewEnabled">
	<ol id="overview" class="list-group container">
		<li ng-repeat="item in items|idFilter:0" class="collapsed list-group-item">
			<div class="row">
				<span class="glyphicon glyphicon-triangle-right col-lg-1" ng-click="control.dropdowncontrol($event, item.id)" aria-hidden="true"> </span>
				<input class="col-lg-1" type="checkbox" ng-checked="item.selected" ng-click="control.includeswitch(item)"/>
				<p class="col-lg-6" >{{item.text}}</p>
				<div class="btn-group col-lg-4">
					<button ng-click="control.deleteItem(item)" class="btn btn-primary">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
					</button>
					<button ng-click="control.settings(item)" class="btn btn-primary">
							<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"> </span>
					</button>
				</div>
			</div>
		</li>
		<li class="list-group-item"><add-items controller="control" parent="0" ></add-items></li>
	</li>
</div>
