<!--This section creates the step by step wizard view-->
<div ng-hide="control.overviewEnabled" class="row" id="stepbystepview">
	<div id="crumblepath">
		<span >Uw locatie:<span>
		<span ng-repeat="crumble in control.crumblepath">
			<a ng-click="control.crumbleClick(crumble)">{{crumble.text}}</a>
		</span>
	</div>
	<table id="domainlist" class="table table-hover">
		<tr ng-repeat="item in items | idFilter: control.currentparentid">
			<td class="row">
				<input type="checkbox" ng-checked="item.selected" ng-click="control.includeswitch(item)" class="col-lg-1 "/>
				<p class="col-lg-9">{{item.text}}</p>
				<div class="col-lg-2 btn-group">
					<button ng-click="control.deleteItem(item.id)" type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
					</button>
					<button ng-click="control.settings(item)" class="btn btn-primary ">
						<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"> </span>
					</button>
					<button ng-click="control.next(item)" class="btn btn-primary ">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"> </span>
					</button>
			</div>
			</td>
		</tr>
	</table>
	<add-items controller="control" parent="control.currentparentid" ></add-items>
		<div>
		<button ng-click="control.back()" ng-show="control.currentparentid" >
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"> </span>
		</button>
		</div>
	</div>
