#header{
	min-height: 80px;
	min-width: 300px;
	background-color:#226FE3;
	color:white;

	h1{
		margin:10px;
	}

	h4{
		margin-top:5px;
		margin-left:10px;
	}

	button{
	float:right;
	margin-top:10px;
	margin-right:10px;
	}
}

#crumblepath {
	span{
		display:inline;
		color:grey;
		font-size:16px;
	}

	a{
	cursor:pointer;
	}
}

#options td{
	vertical-align: text-top;
}

ol{
	list-style-type: none;
}


#overviewcontainer{
  margin-top:15px;
	.collapseIcon{
		cursor:pointer;
	}
	li{
		margin-top: 3px;
	}
}

.listitem{
	margin:5px;
	padding-bottom:2px;
}

#loginScreenContainer{
	#loginBox{
		margin-top: 10%;
		.panel{
			background-color:#D4D4D4;
			border-style:solid;
			border-color:black;
		}
	}
}

#browseScreenContainer{
	#browseBox{
		margin-top: 10%;
		.panel{
			border-style:solid;
			border-color:black;
		}
		.btn{
			margin-left: 1%;
		}
		.projectListItem{
			&:hover{
				cursor:pointer;
			}
		}
	}
}
